*{
  box-sizing: border-box;
  list-style: none;
}
*::-webkit-scrollbar{
  display: none;
}
:root{
  background-color:#dcdedc;
}
.App {
  text-align: center;
}
button{
  cursor: pointer;
}
.edit{
background-color: #8992cc;
}
.delete{
  background-color:#f50a35;
}
.inputStyle{
  width:15rem;
  height:2rem;
  border:none;
  outline:none;
}
.updateInputStyle{
  width: 16rem;
  height:2rem;
  border:none;
  outline:none;
}

.updateButtonStyle{
width: 4rem;
height: 2rem;
border: none;
background:#8992cc;
}